<html>
  <body
    style="
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    "
  >
    <div style="margin: auto; max-width: 600px; padding-top: 50px">
      <table
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        align="center"
        style="background: #6d98ba; border-radius: 3px 3px 0px 0px; max-width: 600px"
      >
        <tbody>
          <tr>
            <td style="border-radius: 3px 3px 0px 0px; padding: 20px 0px 10px; text-align: center">
              <h1>Timecapsule</h1>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        style="
          border-width: 0px 0px 1px;
          border-top-style: initial;
          border-right-style: initial;
          border-left-style: initial;
          border-top-color: initial;
          border-right-color: initial;
          border-left-color: initial;
          border-image: initial;
          border-bottom-style: solid;
          border-bottom-color: rgb(214, 214, 214);
          max-width: 600px;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <tbody>
          <tr>
            <td
              style="
                background-color: rgb(255, 255, 255);
                color: rgb(68, 68, 68);
                font-size: 14px;
                line-height: 140%;
                padding: 25px 35px;
              "
            ></td>
          </tr>
          <tr>
            <td
              style="
                background-color: rgb(255, 255, 255);
                color: rgb(68, 68, 68);
                font-size: 14px;
                line-height: 140%;
                padding: 0px 35px 25px;
                text-align: center;
              "
            >
              <div style="font-weight: bold; padding-bottom: 15px">
                <span class="il">Verification</span> code
              </div>
              <div
                style="
                  color: rgb(0, 0, 0);
                  font-size: 36px;
                  font-weight: bold;
                  padding-bottom: 15px;
                "
              >
                #code#
              </div>
              <div style="color: rgb(68, 68, 68); font-size: 10px">
                (This code will expire 5 minutes after it was sent.)
              </div>
            </td>
          </tr>
          <tr>
            <td
              style="
                background-color: rgb(255, 255, 255);
                border-top: 1px solid rgb(224, 224, 224);
                color: rgb(119, 119, 119);
                font-size: 14px;
                line-height: 140%;
                padding: 25px 35px;
              "
            >
              <p style="margin: 0px 0px 15px; padding: 0px; text-align: center">
                This was an automated email sent from Timecapsule to register your account. Please
                delete and ignore this email incase this was not initiated by you.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
